body {
    background-color: rgb(240, 203, 203);
}
.nav-item{
    background-position: center;
    color:grey;
}
#no-show{
    visibility: hidden;
    display: none;
}
#no-show2{
    visibility: hidden;
}
.card{
    border-width:20px;
    border-color: yellow;
    max-width:500px;
}
.container{
    margin-top: 80px;
    width:auto;
}
img.projimg{
    max-width: 300px;
    height: auto;
}
a.card-text:hover{
    background-color: violet;
}
p.aboutMe{
    color:gray;
    background-color: teal;
}
img.ofMe{
    max-height:400px;
    width: auto;
}

.container.abtMe{
    border-color: teal;
    border-width: 20px;
    background-color: white;
}
.footer{
    bottom:0;
    background-position-x:center;
    position:absolute;
    background-color: white;
    padding: 20px 40%;
}

h6{
    color: tomato;
}

.footer.navbar-fixed-bottom{
    width: 100%;
    bottom: 0;
}
.intro{
    font-size:1rem ;
}

@media(max-width:500px){
    .intro{
        font-size: 0.7rem;
        width:auto;
    }
    
    #thiss{
        visibility: hidden;
        display:none;
    }
    #no-show2{
        visibility: visible;
    }
    .footer.navbar-fixed-bottom{
        width: 100%;
        bottom: 0;
        position: fixed;
    }
    .card{
        border-width:20px;
        border-color: coral;
    }

}